/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

a {
    color: #00e;
}

a:visited {
    color: #551a8b;
}

a:hover {
    color: #06e;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html, body {
  height: 100%; }

body {
  color: #333333;
  position: relative; }

/*Headings*/
h1, h3, h5 {
  color: white;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  font-family: Fjalla One; }

h2, h4, h6 {
  color: #443fa4;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3); }

/*Links*/
a, a:visited, a:active {
  text-decoration: none;
  color: #2c9e76; }

a:hover, a:focus {
  color: #0e6748; }

a:hover, a:focus {
  color: #0e6748; }

/*Socials*/
.socials {
  margin-top: 1em;
  text-align: center; }
  .socials a, .socials a:visited, .socials a:active {
    color: RGBA(255, 255, 255, 0.5);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }

.facebook a:hover, .facebook a:focus {
  color: #3b5998; }

.twitter a:hover, .twitter a:focus {
  color: #4099ff; }

/*button*/
.btn-green, .btn-blue {
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  padding: 0.6em 1.4em;
  text-shadow: 0 1px rgba(255, 255, 255, 0.5);
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  box-shadow: inset 0 10px 5px rgba(255, 255, 255, 0.2), 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 2px 1px rgba(0, 0, 0, 0.1); }

.btn-green {
  background-color: #5fcfa7;
  /*@include gradient(#2C9E76, #5FCFA7);*/
  color: #0e6748; }

.btn-blue {
  background-color: #669acc;
  /*@include gradient;*/
  color: #113b63; }

.btn-green:hover {
  background: #2c9e76; }

.btn-blue:hover {
  background: #336799; }

.btn-blue:focus, .btn-green:focus {
  box-shadow: inset 0 -2px 1px rgba(255, 255, 255, 0.2), inset 0 3px 2px rgba(0, 0, 0, 0.12); }

.container {
  width: 70%;
  margin: auto; }

#header {
  width: 100%;
  position: relative; }

#header:after, #header:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none; }

#header:after {
  border-color: rgba(255, 255, 255, 0);
  border-top-color: white;
  border-width: 30px;
  z-index: 10;
  left: 50%;
  margin-left: -30px; }

#header:before {
  border-color: rgba(0, 0, 0, 0);
  border-width: 36px;
  left: 50%;
  margin-left: -36px; }

#header h1 {
  text-align: center; }
#header .adsense {
  float: right;
  max-width: 50%; }

#header-inner {
  padding: 1em;
  position: relative; }

#header-inner, #footer-inner {
  padding: 0.5em;
  position: relative; }

.logo {
  width: 25%;
  margin: auto; }

#corps {
  min-height: 300px;
  overflow: hidden;
  background: #81a7cc;
  width: 100%;
  position: relative; }

#main {
  margin-top: 2em;
  margin-bottom: 2em; }

#main input {
  background-color: RGBA(255, 255, 255, 0.5);
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  padding: 0.6em 1.4em;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 38.3%; }
#main input:focus {
  background-color: white; }

.slogan {
  text-align: center; }

.searchform {
  width: 75%;
  margin: auto; }

/*
.search{
  background-color: #fff;
	@include box-shadow(0, 1px, 2px, 0, RGBA(0, 0, 0, 0.3), inset, 0, 1px, 0, #000);
	border: 1px solid rgba(0,0,0,0.15);
}
*/
.log {
  width: 40%;
  margin: 1em auto; }

.inscription {
  width: 90%;
  position: relative;
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  vertical-align: top;
  padding: 0.6em 1.4em;
  /* min-height: 90px; */
  color: white;
  border-radius: 2px;
  border: 0.5em solid white;
  background: #333333;
  text-align: center;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  box-shadow: inset 0 1em 0.5em rgba(255, 255, 255, 0.1), 0 4px 2px rgba(0, 0, 0, 0.4), 0 0 4px 2px rgba(0, 0, 0, 0.2); }

.inscription:hover {
  background: #81a7cc; }

.flottante {
  float: left;
  font-size: 4em;
  padding: 0;
  margin: 0;
  line-height: 1; }

#footer {
  width: 100%; }

#footer-inner {
  text-align: center; }
	
	
/* ==========================================================================
   Helper classes
   ========================================================================== */

/* Prevent callout */

.nocallout {
    -webkit-touch-callout: none;
}

.pressed {
    background-color: rgba(0, 0, 0, 0.7);
}

/* A hack for HTML5 contenteditable attribute on mobile */

textarea[contenteditable] {
    -webkit-appearance: none;
}

/* A workaround for S60 3.x and 5.0 devices which do not animated gif images if
   they have been set as display: none */

.gifhidden {
    position: absolute;
    left: -100%;
}

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    background-repeat: no-repeat;
    border: 0;
    direction: ltr;
    display: block;
    overflow: hidden;
    text-align: left;
    text-indent: -999em;
}

.ir br {
    display: none;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/**
 * Clearfix helper
 * Used to contain floats: h5bp.com/q
 */

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 800px) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for viewports that meet the condition */
}
